body{
    background-color: rgb(208, 203, 203);
    padding:0;
    margin: 0;
    
    
}
.ggg{
    max-width: 130px;
    padding-top: 0;
    padding-bottom: 0;
    
}
.botton{
    padding-left: 10px;
}
.color{
    color: rgb(119, 10, 10);
    padding-left: 10px;
}
.fog{
    color: black;
    padding-left: 10px;
}
.ad{
    text-align: center;
    color: rgb(193, 181, 181);
    background-color: rgb(128, 11, 11);
    
    
    
    
}   

.ff{
    max-width: 90px;
    
   
    
}
.hh{
    display: inline;
color: rgb(99, 9, 9);
}
.card{
    margin-right: 140px;
}
.fog{
    color: black;
    
    
}
.qq{
    max-width: 250px;
    margin-left: 150px;
    margin-bottom: 20px;
}
.pp{
    max-width: 40px;
    margin-bottom: 14px ;
    margin-left: 200px;
}
.lm{
    max-width: 20px;
}
.nn{
    max-width: 30px;
    margin-right: 1250px;
    margin-bottom: 10px;
    display: inline;
    
}
.cv{
    margin-left: 300px;
    max-width: 250px;
    color: black;
    margin-bottom: 10px;
}
.offcanvas-header{
    background-color: rgb(99, 9, 9);
}
.rtx{
    max-width: 100px;
}
.BBC{
    color:rgb(135, 38, 38) ;
}
.ui{
    color: rgb(187, 179, 179);
}
.rer{
    margin-left: 5px;
    border-style: none;
    background-color: rgb(208, 203, 203);
    color: rgb(119, 10, 10);    
}
.jj{
    color: rgb(187, 179, 179);
}
.op{
    margin-right: 15px;
}
.pi{
    max-width: 55px;
    margin-left: 120px;
}
.rat{
    display: inline;
}
.oh
{
    display: inline;
color: rgb(99, 9, 9);
margin-bottom: 10px;
}
.rer:hover{
    color: rgb(0, 0, 0);
}
@media(max-width:1440px){
    .card{
        max-width: 670px;
    }

}
@media(max-width:1024px){
    .card{
        max-width: 480px;
    }
}
@media(max-width:800px){
    .card{
        max-width: 340px;
    }
}

@media(max-width:435px){
    .card{
        margin-left: 20px;
        margin-top: 20px;
    }
    .rat{
        display: inline;
        margin-left: 129px;
    }
    .pi{
        margin: 0;
    }
    
}
@media(max-width:380px){
    .card{
        max-width: 345px;
        margin: 0;
        margin-top: 30px;
        
    }
    .pi{
       width: 50px;
       float: left;
       margin-right: 10px;
       margin-left: 15px;
    }
    
}
@media(max-width:320px){
    .card{
        max-width: 300px;
        margin: 0;
        margin-top: 30px;
        
    }
    
    .pi{
       width: 50px;
       float: left;
    }
    .oh{
        float: left;
    }
    .hh{    

        margin: 0;
        margin-bottom: 100px;
    }
} 
@media(max-width:913px){
    .card{
        max-width: 400px;
    }
}
