
body{
    background-color: rgb(187, 179, 179);
    padding:0;
    margin: 0;
    
    
}
.ggg{
    max-width: 130px;
    padding-top: 0;
    padding-bottom: 0;
    
}
.botton{
    padding-left: 10px;
}
.color{
    color: rgb(119, 10, 10);
    padding-left: 10px;
}
.fog{
    color: black;
    padding-left: 10px;
}
.ad{
    text-align: center;
    color: rgb(193, 181, 181);
    background-color: rgb(128, 11, 11);
    
    
    
    
}   
.ff{
    max-width: 90px;
    

    
    
    
}
.hh{
    display: inline;
color: rgb(99, 9, 9);





}
.card{
    margin-right: 140px;
}
.fog{
    color: black;
    
    
}
.qq{
    max-width: 250px;
    margin-left: 150px;
    margin-bottom: 20px;
}
.pp{
    max-width: 40px;
    margin-bottom: 14px ;
    margin-left: 200px;
}
.lm{
    max-width: 20px;
}
.nn{
    max-width: 30px;
    margin-right: 1250px;
    margin-bottom: 10px;
    display: inline;
    
}
.cv{
    margin-left: 300px;
    max-width: 250px;
    color: black;
    margin-bottom: 10px;
}
.offcanvas-header{
    background-color: rgb(99, 9, 9);
}
.rtx{
    max-width: 100px;
}
.BBC{
    color:rgb(135, 38, 38) ;
}
.ui{
    color: rgb(187, 179, 179);
}
.rer{
    margin-left: 5px;
    border-style: none;
    background-color: rgb(187, 179, 179);
    color: rgb(119, 10, 10);    
}
.jj{
    color: rgb(187, 179, 179);
}
.op{
    margin-right: 15px;
}
.pi{
    max-width: 55px;
    margin-left: 120px;
}
.oh
{
    display: inline;
color: rgb(99, 9, 9);
margin-bottom: 10px;
}
